{% extends "base.html.j2" %}

{% block content %}
<div class="flex justify-center items-center"">
    <div class="flex flex-col py-8 gap-y-8 items-center">
        <h1 class="text-[88px] font-[Outfit] font-bold">Get your ideas flowing</h1>
        <p class="text-[24px] text-center font-[Outfit] max-w-160">Write without friction, Noteflow keeps your notes organized and searchable automatically.</p>
    </div>
</div>
{% endblock %}