{% extends "base.html.j2" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="flex justify-center items-center pt-24">
  <div class="flex justify-center items-center border-2 border-black w-full max-w-3xl rounded-3xl p-8 md:p-10 mx-4">
    <form method="POST" action="{{ url_for('auth.sign_up') }}" class="w-full">
      <h1 class="font-[Outfit] font-bold text-4xl">Create your account</h1>

      <div class="form-group flex flex-col pt-8 space-y-6">
        <input
          type="text"
          id="email"
          name="email"
          class="form-control border-2 rounded-3xl w-full h-20 px-4 placeholder:font-[Outfit] placeholder:text-3xl text-3xl font-[Outfit]"
          placeholder="Enter Email"
        />

        <input
          type="text"
          id="name"
          name="username"
          class="form-control border-2 rounded-3xl w-full h-20 px-4 placeholder:font-[Outfit] placeholder:text-3xl text-3xl font-[Outfit]"
          placeholder="Enter Name"
        />

        <input
          type="password"
          id="password1"
          name="password1"
          class="form-control border-2 rounded-3xl w-full h-20 px-4 placeholder:font-[Outfit] placeholder:text-3xl text-3xl font-[Outfit]"
          placeholder="Enter Password"
        />

        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control border-2 rounded-3xl w-full h-20 px-4 placeholder:font-[Outfit] placeholder:text-3xl text-3xl font-[Outfit]"
          placeholder="Confirm Password"
        />

        <div class="pt-8">
          <button
            class="btn btn-primary rounded-3xl w-full h-14 bg-[#3F72AF] text-white text-2xl font-[Outfit] font-bold hover:bg-[#112D4E] transition-transform duration-300 hover:scale-105"
            type="submit"
          >
            Proceed
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}